@charset "UTF-8";
/*
    #   =  id
    .   =  class   
    :   =  pseudo-class
    ::  =  pseudo-element    
    >   =  children
*/

/* * {
    margin: 0px;
    padding: 0px;
} 
*/

:root {
    --cor01: rgb(33, 73, 182);
    --cor02: rgb(25,55,138);
    --cor03: rgb(14, 31, 78);
    --cor04: #FF9100;
    --cor05: rgb(129, 169, 255);
}

/*header.clearfix > div.logo {
    background-image: url('Blue_Star_primary_logo.png');
    background-size: 300px;

    width: 22%;
    height: 8.9%;
    position: absolute;
    float: left;
    z-index: 10000;
    top: 2%;
    left: 0.5%;
    
}*/

div.logo {
    position: relative;
}

header {
    background-color: var(--cor03);

    margin: 0px;   
    height: 90px;
    padding: 2px;
    padding-bottom: 30px;

    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.329);     
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 

    background-color: rgb(14, 31, 78);

    margin: 0px;
    margin-bottom: 20px;
    padding: 8px;
}

nav > a {
    color: var(--cor05);
    padding: 8px;
}

nav > a:hover {
    background-color: rgb(255, 210, 12);
    color: var(--cor03);

    text-decoration: underline;
    font-weight: bolder;
}

nav > a::after {
    content: none;
}

body {
    height: 100vh;
    margin: 0px;

    background-image: linear-gradient(to bottom,rgb(33, 73, 182) 60%, rgb(25,55,138) 80%,
    rgb(14, 31, 78) 95%);
    background-image: url('photo-1597773150796-e5c14ebecbf5.jpeg');
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;    
}

main {
    background-color: #ffffff;

    position: relative;
    margin: auto;
    max-width: 1000px;
    min-width: 320px;
    max-height: none;
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.432);
}

main > aside {
    background-color: rgb(129, 169, 255);

    position: absolute;                  /* comando para poder mover qualquer bloco */ 
    height: 50%;
    width: 16%;
    padding: 4px; 
    top: 4%; 
    left: 80.5%;  
    border-radius: 8px;
}

main > aside > p {
    position: absolute;
    text-align: right;
    height: 10%;
    max-height: 20px;
    min-width: none;
    width: 40%;
    margin-top: 2px;
    padding-left: 4px;      
}

mark {
    background-color: yellow;
    color: rgb(25, 55, 138);

    font-weight: bold;
}

a {
    color: rgb(0, 0, 0);

    text-decoration: none;
}

a:hover {
    color: rgb(25, 55, 138);

    text-decoration: underline;
    font-weight: bolder;
}

a::after {
    content: ' â‡';   
}

header > h1{
    color: rgb(255, 255, 255);

    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif   
}

main > h2 { 
    background-image: linear-gradient(to right, rgb(25,55,138) 88%, transparent
    );
    color: rgb(255, 255, 255);

    max-width: 500px;
    min-width: none;
    padding: 6px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

main > article > h2 { 
    background-image: linear-gradient(to right, rgb(25,55,138) 88%, transparent
    );
    color: rgb(255, 255, 255);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    max-width: 500px;
    min-width: none;
    padding: 6px;
}

main > h3 {
    color: rgb(0, 0, 0);

    font-family: 'Times New Roman', Times, serif;   
}

main > h4 {
    color: rgb(0, 0, 0);  
    
    font-family: 'Times New Roman', Times, serif;   
}

main > p{
    color: rgb(0, 0, 0);

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
}

main > ul{
    color: rgb(0, 0, 0);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;    
}

main > ol {
    color: rgb(0, 0, 0);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main > dl {
    color: rgb(0, 0, 0);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
}

.voltar {
    color: white;
}

div.video {
    background-color: rgb(129, 169, 255);
    
    padding-top: 14px;
    padding-bottom: 33%;
    position: relative;
    margin: 8px 20px;
}

div.video > iframe {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 90%;   
}