@charset "UTF-8";

@media screen and (max-width: 767px) {
    body {
        height: 100vh;
        width: 100vw;
        background-color: #5f2c82;
    }

    main {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:  translate(-50%, -50%);
        height: 500px;
        width: 250px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    }

    section#login > div#metal{
        display: block;
        background: #5f2c82 url(metal.jpg) no-repeat;
        background-size: cover;
        background-position: center bottom;
        
        height: 200px;
        width: 250px;
    }
    
    section#login > div#formu {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 0.8em;
        padding-top: 0px;
        height: 300px;
        width: 230px;
    }

    h1 {
        padding: 0px;
        margin: 0px;
    }

    p {
        font-size: 13px;
        padding: 0px;
        margin: 0px;
    }

    div#formu > form > p > span.material-symbols-outlined {
        font-size: 1.1em;
        color: #ebebeb;
        background-color: #602c82ea;
        padding: 2px;
        margin: 0px;
        border-radius: 30%;
    }

    div#formu > form > p#person > span.material-symbols-outlined {
        top: 332px;
        left: 1%;
    }

    div#formu > form > p#key > span.material-symbols-outlined {
        top: 380px;
        left: 1%;
    }

    input {  
        display: block;
        border: 2px solid rgba(85, 30, 212, 0.753);
        border-radius: 8px;
        width: 200px;
        height: 34px;
        outline: none;
        margin-left: 13.2px;
        margin-bottom: 10px;
        padding: 0px;
    }

    input#iemail, input#isenha {
        text-indent: 10px;
    }

    p.ok > input {
        margin-bottom: 5px;
        width: 200px;
        margin-left: 6.5%;
    }

    p.ok > input:hover {
        background-color: #6cc7c493;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        height: 100vh;
        width: 100vw;
        background-color: #5f2c82;
    }

    main {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    section#login {
        width: 80vw;
    }

    section#login > div#formu {
        width: 70%;
        height: 100%;      
    }

    section#login > div#metal {
        float: left;
        height: 100%;
        width: 30%;
    }

    section#login > div#formu > h1 {
        font-size: 24px;
    }

    section#login > div#formu > p {
        font-size: 16px;
    }

    div#formu > form > p > span.material-symbols-outlined {
        font-size: 2em;
        color: #ebebeb;
        background-color: #602c82ea;
        padding: 2px;
        margin: 0px;
        border-radius: 30%;
    }

    div#formu > form > p#person > span.material-symbols-outlined {
        top: 154px;
        left: 33.5%;
    }

    div#formu > form > p#key > span.material-symbols-outlined {
        top: 217.5px;
        left: 33.5%;
    }

    input {
        margin-left: 17%;
    }
    
    p.ok > input {
        margin-left: 17.5%;
    }
}